@import "tailwindcss";

@theme {
  --color-bg-page: #ffffff;
  --color-bg-secondary: #fafaf9;
  --color-bg-nav: rgba(255, 255, 255, 0.9);
  --color-bg-inverse: #1c1917;

  --color-border: #e7e5e4;
  --color-border-focus: #bfdbfe;

  --color-text-heading: #1c1917;
  --color-text-body: #57534e;
  --color-text-muted: #757271;
  --color-text-inverse: #ffffff;    /* Texts on dark backgrounds */

  --color-brand-primary: #2563eb;
  --color-brand-hover: #1d4ed8;
  --color-brand-bg: #eff6ff;
  --color-brand-text: #1d4ed8;

  --color-status-success-bg: #dcfce7;  /* Success message bg */
  --color-status-success-text: #166534;
  --color-status-fail-bg: #fef2f2;
  --color-status-fail-text: #dc2626;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  nav .left{
    color: #6f6b67;
  }

  body {
    background-color: var(--color-bg-page);
    font-family: 'Inter', system-ui, sans-serif;
    color: var(--color-text-body);
  }

  #logo {
      fill: var(--color-brand-primary);
    }
  
  svg {
    height: 24px;
    width: 24px;
  }

}

@layer components {
  .glass {
    background-color: color-mix(in srgb, white 50%, transparent);
    backdrop-filter: blur(16px);
  }
}

@layer utilities {
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
      filter: blur(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
      filter: blur(0);
    }
  }
  .animate-fade-in {
    animation: fade-in .5s ease-out both;
  }
}